body {
    background: deepskyblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
    color: #2b4c4c;
    margin-top: 20px;
}

.about, .skills, .projects {
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.project {
    background: #6e7f8d;
    width: 28%;
    padding: 25px;
    border-radius: 80px;
    text-align: center;
    color: white;
}

.project img {
    width: 100%;
    height: auto;
    border: 3px solid #1c2d4a;
    background: white;
}

.project h3 a {
    color: #2e008b;
}

.project p {
    color: black;
    margin-top: 8px;
}
