body {
    font-family: Arial, sans-serif;
    background-color: #f0f0e8;
    color: #5a8088;
    text-align: center;
}

h2,
footer {
    color: #d08080;
}

#destination-list {
    list-style: none;
    padding: 0;
}

#destination-list li {
    margin: 10px 0;
}

#destination-list a {
    color: #5a8088;
}

#map {
    width: 350px;
    height: 350px;
    border: 0;
}

.hidden {
    display: none;
}